<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.usn.tzzapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:killAfterRestore="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Heating"
            android:label="@string/heating"
            android:parentActivityName=".Tools"
            android:theme="@style/lamp" />
        <activity
            android:name="com.usn.tzzapp.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/PreferenceTheme"
            android:parentActivityName="com.usn.tzzapp.MainActivity">

        </activity>
        <activity

            android:name="com.usn.tzzapp.PriceHelper"
            android:label="@string/price"
            android:parentActivityName="com.usn.tzzapp.MainActivity" />
        <activity
            android:theme="@style/equipmentTheme"
            android:name="com.usn.tzzapp.equipment.Equipment"
            android:label="@string/equipment"
            android:parentActivityName="com.usn.tzzapp.MainActivity" />
        <activity
            android:name="com.usn.tzzapp.Tools"
            android:label="@string/title_activity_tools"
            android:parentActivityName="com.usn.tzzapp.MainActivity" />
        <activity
            android:name="com.usn.tzzapp.Lamps"
            android:label="@string/lamps"
            android:parentActivityName="com.usn.tzzapp.Tools"
            android:theme="@style/lamp"/>
        <activity
            android:name="com.usn.tzzapp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".equipment.EquipmentItemActivity"
            android:parentActivityName=".equipment.Equipment"
            android:label="@string/equipment"
            android:theme="@style/item">
        </activity>
    </application>

</manifest>